*{
    font-family: 'Merriweather Sans', sans-serif;
}

button {
    border: none;
  }
  
/* progress {
    height: 7px;
    background-color: transparent;
    border-radius: 10px; } */

body {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7455357142857143) 35%, rgba(27,27,207,0.227328431372549) 100%), url('./images/4882066.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.container-music-player {
    
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(21, 21, 24, 0.863);
    border-radius: 20px; 
    height: 430px;
    
}

.btn-c {
    background-color: rgba(0, 0, 0, 0.205) !important;
    border-radius: 100% !important;
    height: 70px;  
    width: 70px;
    
}

.btn-volx {
    background-color: rgba(0, 0, 0, 0.205) !important;
    border-radius: 100% !important;
    height: 70px;  
    width: 70px;
    position: relative;
}

.btn-vol {
    background-color: rgba(0, 0, 0, 0.205) !important;
    border-radius: 100% !important;
    height: 70px;  
    width: 70px;
    position: relative;
}

.btn-volx.activevol::after {
    content: "";
    height: 50px;
    width: 4px;
    background-color: rgba(156, 145, 145, 0.911);
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    transform: rotate(45deg);
    border-radius: 8px;

}



.btn-volx.activevol {
    background-color: rgb(54, 54, 54) !important;
}



.btn-c:hover {
    background-color: rgba(0, 0, 0, 0.472) !important;
}

.btn-c.active {
    background-color: rgb(245, 162, 28) !important;
}

.fa-solid.fa-music {
  color:white;

}  

.album-cover {
    height: 300px !important;
    border-radius: 8%;
    box-shadow: 5px 5px 15px 5px #000000;
    transition: all 1s;

}

.user-image {
    border-radius: 100%;
    box-shadow: 3px 3px 7px 2px #000000;

}


.btn-play {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.205) !important;
    border: none !important;
    box-shadow: 1px 1px 3px 1px #000000;
    transition: all 1s;
}

.btn-pause {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.205) !important;
    border: none !important;
    box-shadow: 1px 1px 3px 1px #000000;
    transition: all 1s;
}

.btn-pause.active {
    background-color: rgb(245, 162, 28) !important;
    transition: all 1s;
}

.btn-forward {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: transparent !important;
    border: none;
}

.btn-backward {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: transparent !important;
    border: none;
}



.btn-play:hover {
    background-color: rgba(0, 0, 0, 0.472) !important;
}

.btn-forward:hover {
    background-color: rgba(0, 0, 0, 0.472) !important;
}

.btn-backward:hover {
    background-color: rgba(0, 0, 0, 0.472) !important;
}

.btn-play.active {
    background-color: rgb(245, 162, 28) !important;
    
}



/* .progress-custom::after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0%;  
    transform: translate(-50%,-50%);
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #000000;

} */


.album-cover:hover {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 0.6;
    
}

.album-cover.play {
    height: 250px !important;
    margin-top: 30px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 15px #161616, 0px 0px 0px 18px #121212, 0px 0px 0px 33px #161616, 0px 0px 0px 36px #121212, 0px 0px 0px 50px #161616;
    animation-name: play;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    

}



 .hole {
     
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: inset 0px 0px 0px 9px #161616;
}  



@keyframes play {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}



.song-list-cover {
    border-radius: 8px;
    box-shadow: 5px 5px 15px 5px #000000;
    transition: all 1s;
}

.play-btn-list-cover {
    border-radius: 50% !important;
    height: 50px;  
    width: 50px;  
    transition: all 0.1s ease-in-out;
    background-color: transparent !important;
}

.play-btn-list-cover:hover {
    background-color: rgba(0, 0, 0, 0.205) !important;
    border-radius: 50% !important;
}


.song-list {
    border-bottom: 2px solid rgba(128, 128, 128, 0.178);
}

.scroll-y{
    overflow-y: scroll;
}



/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(245, 162, 28, 0.561) !important;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media screen and (max-width: 1196px){
    .container-music-player { 
        height: 100vh;
        overflow-y: scroll;
}
  
    
}



#startSec {
    
    font-size: 10px !important;
    width: 10%;
 }

 
#finishSec {
    font-size: 10px !important;
    width: 10%;
}


progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
}
progress[value]::-webkit-progress-value {
      border-radius: 8px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
      background-color: rgba(245, 245, 245, 0.698) ;
      height: 4px;
      margin-top: 0.8px;
  }


  progress[value]::-webkit-progress-bar {
    background-color: rgba(238, 238, 238, 0.274);
    border-radius: 8px;
    height: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    margin-top: 5px;

  }


  .card-img {
      border-radius: 20px !important;
      position: relative !important;
  }

  .card-cont {
      height: 250px;
      background-color:rgba(0, 0, 0, 0.397);
      padding: 20px;
      border-radius: 10px ;
      transition: all 4s;
  }

  .card-cont:hover {
      background-color:rgba(0, 0, 0, 0.657) ;
      transition: all 1s;
  }

  .card-title {
      font-size: 16px;
  }

  .card-artist {
      font-size: 14px;
  }


  .btn-play-card {
      top: 45%;
      left: 65%;
      opacity: 0.9;
      background-color: rgb(245, 162, 28) !important;
      border-radius: 100% !important;
      padding: 10px;
      display: none;
      
  }


  .card-cont:hover .btn-play-card {
     display: block;
     transition: ease-in 2s;
  }

  @media screen and (max-width: 786px) {
    .play-btn-list-cover {
        margin-top: -115px;
        z-index: 10;
    }

    .menu-mob {
        position: fixed;
    }

    .btn-play {
        height: 60px;
        width: 60px;
    }
    
    .btn-pause {
        height: 60px;
        width: 60px;
  }

  .track-list-info {
      font-size: 11px;
  }
  .track-durata {
      font-size: 11px;
  }

  .album-cover.play { 
    margin-top: 15px;
  }
}

 /* #pallina {
    height: 8px;
    width: 8px;
    background-color: rgba(153, 152, 152, 0.89);
    position: absolute;
    top: 87%;
    left: 50%;  
    transform: translate(-50%,-50%);
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #000000;
    
}

#progress-bar:hover #pallina {
    display: block;
} */


.volume-wrapper {
    background-color: rgba(255, 255, 255, 0.082);
    height: 20px;
    width: 250px;
    padding: 25px;
    border-radius: 20px;
    margin-left: 100px;
}


.btn-vol.active {
    background-color: rgb(245, 162, 28) !important;
}